<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - SignalR Notification State Management</title>

	<link href="~/Stylesheets/Site.css" rel="stylesheet" />
	<script src="~/Scripts/jquery-1.11.2.min.js"></script>
	@if(Request.Cookies.Get(".ASPXAUTH") != null)
	{			// we're just mocking the authentication
		<script src="~/Scripts/jquery.signalR-2.1.1.min.js"></script>
		<script src="~/signalr/hubs"></script>
		<script src="~/Scripts/signalRNotificationStateManager.js"></script>
		<script type="text/javascript">
			$(function()
			{
				$('#notify').click(function()
				{	
					$.ajax({
						type: "POST",
						url: "/Home/NotifyClients?pageName=" + $('#notify').val(),
						async: true
					});
				});
			});
		</script>
	}
</head>
<body>
	@if(Request.Cookies.Get(".ASPXAUTH") != null)
	{			// we're just mocking the authentication
		@Html.Partial("_NotificationPanel")
		@Html.ActionLink("Sign-out", "SignOut", "Home", null, htmlAttributes: new { style = "float:right;", id="signout" })
		<br /><br />
		<div class="navbar">
			<span>@Html.ActionLink("Home", "Index", "Home")</span>
			<span>@Html.ActionLink("About", "About", "Home")</span>
			<span>@Html.ActionLink("Contact", "Contact", "Home")</span>
		</div>
	}
	else
	{
		@Html.ActionLink("Sign-in", "SignIn", "Home", null, htmlAttributes: new { style = "float:right;" })
	}
	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; @DateTime.Now.Year - SignalR Notification State Management</p>
		</footer>
	</div>
</body>
</html>
